<h4 class = 'ui center aligned large red icon header'>
  <i class = 'circular tty icon'> </i>
  Say something
</h4>

<div class ="ui two column grid">
  <div class ='twelve wide column'>
    <div class='ui fluid raised card chatbox'>
      <div class='content'>
        <div class ="ui huge feed">
          <h4 class ='ui header'>
            followers activity 
          </h4>
          <div class ='event'>
            <div class = 'content'>
              <div class ='summery'>
                <a>eliot fu</a> added <a>jenny hess</a> as a friend
              </div>
            </div>
          </div>
          <div class ='event'>
            <div class = 'content'>
              <div class ='summery'>
                <a>eliot fu</a> added <a>jenny hess</a> as a friend
              </div>
            </div>
          </div>
          <div class ='event'>
            <div class = 'content'>
              <div class ='summery'>
                <a>eliot fu</a> added <a>jenny hess</a> as a friend
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class= 'four wide column'>
    <div class='ui fluid raised card chatbox'>
      <div class='content'>
        <div class ='ui inverted vertical menu'>
          <a class = "active item">
            home
          </a>
          <a class = "item">
            message
          </a>
          <a class = " item">
            friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
